name: Deploy to Firebase
on:
  push:
    branches:
      - main
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - run: cd functions && npm i
      - run: npm install -g firebase-tools
      - shell: bash
        run: echo "${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_BASE64 }}" | base64 --decode > credentials.json
      - run: echo "GOOGLE_APPLICATION_CREDENTIALS=./credentials.json" >> $GITHUB_ENV
      - shell: bash
        run: firebase deploy --non-interactive
      - run: rm credentials.json
